# Pandas

In [2]:
import pandas as pd

In [3]:
#Empezamos a crear un data frame desde 0.
#La opción más sencilla es la de crear un diccionario

data={
    'apples':[3,5,2,9],
    'oranges':[4,6,2,3]
}

purchases=pd.DataFrame(data)
purchases

   apples  oranges
0       3        4
1       5        6
2       2        2
3       9        3